<section class="contendor">
  <div class="container">
    <h2>Contacto</h2>
    <div class="info">
      <img src="./assets/images/mapa.png" class="image" alt="Acerca de"/>
      <div class="contacto">
        <div class="contact-item">
          <mat-icon>mail</mat-icon>
          <span>info@bordadoshalom.com</span>
        </div>
        <div class="contact-item">
          <mat-icon>phone</mat-icon>
          <span>+506 24485324</span>
        </div>
        <div class="contact-item">
          <mat-icon>access_time</mat-icon>
          <span>Lun - Vie: 8:00 AM - 5:00 PM</span>
        </div>
      </div>
    </div>
  </div>
</section>
