@import url("https://fonts.googleapis.com/css2?family=Figtree&display=swap");

html,
body {
  height: 100%;
}
body,
* {
  margin: 0;
  font-family: "Figtree", sans-serif;
  font-size: medium;
  color: #303030;
}

:root {
  --primary-color: #0073ff;
  --secondary-color: #f97c01;
}

.contendor {
  padding: 60px 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  width: 600px;
  margin-bottom: 20px;
}

.contacto {
  display: flex;
  justify-content: center;
}

.contact-item {
  margin: 0 20px;
  display: flex;
  align-items: center;
}

.contact-item mat-icon {
  margin-right: 10px;
}
