<form [formGroup]="formCreate" (ngSubmit)="submitForm()" novalidate>
  <mat-card class="login-card">
    <mat-card-content>
      <h2 class="form-title">Registro</h2>
      <mat-form-field class="full-width">
        <mat-label>Nombre</mat-label>
        <input matInput type="text" placeholder="Nombre" formControlName="nombre" />
        <mat-error *ngIf="errorHandling('nombre', 'required')">El nombre es requerido</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Apellidos</mat-label>
        <input matInput type="text" placeholder="Apellidos" formControlName="apellidos" />
        <mat-error *ngIf="errorHandling('apellidos', 'required')">Los apellidos son requeridos</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Identificación</mat-label>
        <input matInput type="text" placeholder="Identificación" formControlName="identificacion" maxlength="9" />
        <mat-error *ngIf="errorHandling('identificacion', 'required')">La identificación es requerida</mat-error>
        <mat-error *ngIf="errorHandling('identificacion', 'pattern')">La identificación debe contener solo dígitos</mat-error>
        <mat-error *ngIf="errorHandling('identificacion', 'incompleteLength')">La identificación debe contener 9 dígitos</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Teléfono</mat-label>
        <input matInput type="text" placeholder="Teléfono" formControlName="telefono" maxlength="9" />
        <mat-error *ngIf="errorHandling('telefono', 'required')">El teléfono es requerido</mat-error>
        <mat-error *ngIf="errorHandling('telefono', 'pattern')">El teléfono debe contener solo dígitos</mat-error>
        <mat-error *ngIf="errorHandling('telefono', 'incompleteLength')">El teléfono debe contener 8 dígitos</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Correo electrónico</mat-label>
        <input matInput type="text" placeholder="Correo electrónico" formControlName="correo"/>
        <mat-error *ngIf="errorHandling('correo', 'required')">El correo electrónico es requerido</mat-error>
        <mat-error *ngIf="errorHandling('correo', 'email')">Verifique el formato del correo electrónico</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Contraseña</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" placeholder="Contraseña" formControlName="contrasenna" />
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-error *ngIf="errorHandling('contrasenna', 'required')">La contraseña es requerida</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Rol</mat-label>
        <mat-select placeholder="Roles" formControlName="roles" multiple>
          <mat-option *ngFor="let r of rolesList; let i = index" [value]="r.id">{{ r.descripcion }}</mat-option>
        </mat-select>
        <mat-error *ngIf="errorHandling('roles', 'required')">Debe seleccionar al menos un rol</mat-error>
      </mat-form-field>
      <div class="button-container">
        <button mat-button class="login-button" type="submit">Registrarse</button>
        <button mat-button class="cancel-button" type="button" (click)="onReset()">Cancelar</button>
      </div>
      <p class="register-link">¿Ya tienes una cuenta? <a href="usuario/login">Inicia sesión aquí</a></p>
    </mat-card-content>
  </mat-card>
</form>
