.login-card {
  max-width: 500px;
  margin: 40px auto;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.full-width {
  width: 100%;
  margin-bottom: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-button {
  background-color: #0073ff;
  margin-right: 8px;
}

.cancel-button {
  background-color: #f97c01;
}

.register-link {
  text-align: center;
  margin-top: 20px;
}

.register-link a {
  color: #0073ff;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}
