.grid-container {
  padding: 20px;
}

.encabezado {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-container mat-form-field:not(:last-child) {
  margin-right: 10px; /* Ajusta el espaciado entre los controles de los filtros */
}

.filter-container mat-form-field:last-child {
  margin-right: 0; /* Elimina el espaciado en el último filtro (Filtrar por precio) */
}

.pedido-header h2,
p {
  margin: 0px;
}

.pedido-content {
  display: flex;
  margin: 10px;
}

.pedido-content a {
  color: #303030;
}

.producto-item {
  flex: 1 1 50%;
  padding: 10px;
}

.producto-item h2 {
  margin: 0px;
}

.pedido-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pedido-total {
  margin: 0px;
}
