<div class="grid-container">
  <div class="encabezado">
    <h1 class="mat-h1">Mis productos</h1>
    <button mat-icon-button matTooltip="Crear producto" [routerLink]="'/producto/create'">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of datos">
        <td>{{ producto.nombre }}</td>
        <td>{{ producto.descripcion }}</td>
        <td>{{ producto.precio | currency : "₡" }}</td>
        <td>{{ producto.cantidad }}</td>
        <td>
          <button
            mat-icon-button
            matTooltip="Detalle producto"
            aria-label="Detalle producto"
            (click)="detalleProducto(producto.id)"
          >
            <mat-icon>info</mat-icon>
          </button>
          <button
            mat-icon-button
            matTooltip="Editar producto"
            aria-label="Editar producto"
            (click)="actualizarProducto(producto.id)"
          >
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
