<div class="grid-container">
  <h1>Mis pedidos</h1>
  <div *ngFor="let pedido of pedidos" class="pedido-card">
    <div class="pedido-header">
      <h2>Pedido {{ pedido.id }}</h2>
      <p><b>Fecha: </b>{{ pedido.fecha | date }}</p>
      <p><b>Estado: </b>{{ pedido.estado }}</p>
    </div>
    <div class="pedido-content">
      <div *ngFor="let producto of pedido.compras" class="producto-item">
        <h2><b>{{ producto.producto.nombre }}</b></h2>
        <p>Cantidad: {{ producto.cantidad }}</p>
        <p>Precio unitario: {{ producto.producto.precio | currency : "₡" }}</p>
        <p>Subtotal: {{ producto.subtotal | currency : "₡" }}</p>
        <p>Total (IVA): {{ producto.total | currency : "₡" }}</p>
      </div>
    </div>
    <div class="pedido-footer">
      <h2 class="pedido-total"><b>Total del pedido: {{ pedido.total | currency : "₡" }}</b></h2>
      <button mat-button aria-label="Editar pedido" matTooltip="Editar pedido" (click)="editarPedido(pedido.id)">Editar pedido
        <mat-icon>edit</mat-icon>
      </button>
    </div>
  </div>
</div>
