.grid-container {
  padding: 20px;
}

.grid-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.product-card {
  width: 100%;
}

.dashboard-card-content .price {
  margin-bottom: 5px;
}
