<div class="grid-container" *ngIf="producto">
  <div class="row align-items-center contenedor-detalle">
    <div class="col-md-6">
      <div class="container-img carousel slide" id="carouselExample" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item" *ngFor="let item of producto.fotos; let i = index" [ngClass]="{ active: i === 0 }">
            <img class="d-block w-100" [src]="obtenerImagen(item.url)" alt="Product Image"/>
          </div>
        </div>
        <div *ngIf="producto.fotos.length > 1">
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="producto-card">
        <div class="producto-content">
          <h1>{{ producto.nombre }}</h1>
          <p>{{ producto.descripcion }}</p>
          <h2><b>{{ producto.precio | currency : "₡" }}</b></h2>
          <p><b>Cantidad: </b>{{ producto.cantidad }}</p>
          <p><b>Categorías: </b>{{ obtenerCategorias() }}</p>
          <p><b>Estado: </b>{{ producto.estado }}</p>
          <button mat-button aria-label="Agregar al carrito" (click)="agregarCarrito(producto.id)">Agregar al carrito
            <mat-icon>add_shopping_cart</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Sección de preguntas y respuestas -->
  <div class="preguntas-respuestas">
    <div class="encabezado">
      <h2>Preguntas y respuestas</h2>
      <button mat-button aria-label="Agregar pregunta" *ngIf="isAutenticated && isCliente" (click)="crearPregunta(producto.id)">Agregar pregunta
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div *ngFor="let pregunta of producto.preguntas" class="pregunta-respuesta-card">
      <div class="pregunta">
        <div class="pregunta-respuesta-header">
          <p><b>Usuario:</b> {{ pregunta.cliente.nombre }} {{ pregunta.cliente.apellidos }}</p>
          <p><b>Fecha:</b> {{ pregunta.fecha | date }}</p>
        </div>
        <p class="pregunta-respuesta">
          <b>Pregunta:</b> {{ pregunta.descripcion }}
        </p>
      </div>
      <div class="respuesta" *ngIf="pregunta.respuesta">
        <div class="pregunta-respuesta-header">
          <p><b>Vendedor:</b> {{ pregunta.respuesta.vendedor.nombre }} {{ pregunta.respuesta.vendedor.apellidos }}</p>
          <p><b>Fecha:</b> {{ pregunta.respuesta.fecha | date }}</p>
        </div>
        <p class="pregunta-respuesta">
          <b>Respuesta:</b> {{ pregunta.respuesta.descripcion }}
        </p>
      </div>
      <button mat-button aria-label="Agregar respuesta" class="agregar-respuesta" *ngIf="isAutenticated && !isCliente || isVendedor && !pregunta.respuesta?.id" (click)="crearRespuesta(pregunta.id)">Agregar respuesta
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
</div>
