<div class="grid-container" *ngIf="producto">
  <div class="producto-card">
    <div class="producto-content">
      <h1>{{ producto.nombre }}</h1>
      <p>{{ producto.descripcion }}</p>
      <h2><b>{{ producto.precio | currency : "₡" }}</b></h2>
      <p><b>Cantidad: </b>{{ producto.cantidad }}</p>
      <p><b>Categorías: </b>{{ obtenerCategorias() }}</p>
      <p><b>Estado: </b>{{ producto.estado }}</p>
      <button mat-button aria-label="Agregar al carrito">Agregar al carrito
        <mat-icon>add_shopping_cart</mat-icon>
      </button>

      <!-- Cambiar por el carrusel --><!-- Cambiar por el carrusel --><!-- Cambiar por el carrusel -->
      <img width="300px" mat-card-image [src]="obtenerImagen(producto.fotos[0].url)" alt="Foto de {{ producto.nombre }}"/>
    </div>
  </div>

  <!-- Sección de preguntas y respuestas -->
  <div class="preguntas-respuestas">
    <div class="encabezado">
      <h2>Preguntas y Respuestas</h2>
      <button mat-button aria-label="Agregar pregunta">Agregar pregunta
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div *ngFor="let pregunta of producto.preguntas" class="pregunta-respuesta-card">
      <div class="pregunta">
        <div class="pregunta-respuesta-header">
          <p><b>Usuario:</b> {{ obtenerNombreCliente(pregunta) }}</p>
          <p><b>Fecha:</b> {{ pregunta.fecha | date }}</p>
        </div>
        <p class="pregunta-respuesta pregunta-seccion">
          <b>Pregunta:</b> {{ pregunta.descripcion }}
        </p>
      </div>
      <div class="respuesta">
        <div *ngIf="pregunta.respuestas" class="pregunta-respuesta-header">
          <p><b>Vendedor:</b> {{ obtenerNombreVendedor(pregunta) }}</p>
          <p><b>Fecha:</b> {{ pregunta.respuestas.fecha | date }}</p>
        </div>
        <p *ngIf="pregunta.respuestas" class="pregunta-respuesta respuesta-seccion">
          <b>Respuesta:</b> {{ obtenerRespuesta(pregunta) }}
        </p>
      </div>
    </div>
  </div>
</div>
