.grid-container {
  padding: 20px;
}

.pedido-card {
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

.pedido-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pedido-header h2, p {
  margin: 0px;
}

.pedido-content {
  display: flex;
  margin: 10px;
}

.informacion-usuario {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
}

.columna-usuario {
  flex-basis: calc(33.33% - 20px);
  padding: 15px;
}

.columna-usuario h2 {
  margin: 15px 0px 0px 0px;
}

.pedido-content a {
  color: #303030;
}

.producto-item {
  flex: 1 1 50%;
  padding: 10px;
}

.producto-item h2 {
  margin: 0px;
}

.pedido-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pedido-total {
  margin: 0px;
}
