<div class="grid-container">
  <h1>Mis pedidos</h1>
  <div *ngFor="let pedido of datos" class="pedido-card">
    <div class="pedido-header">
      <h2>Pedido {{ pedido.id }}</h2>
      <p><b>Fecha: </b>{{ pedido.fecha | date }}</p>
      <p><b>Estado: </b>{{ pedido.estado ? 'Finalizado' : 'Pendiente' }}</p>
    </div>
    <div class="pedido-content">
      <div class="producto-item">
        <h2><b>Producto(s):</b></h2>
        <ul *ngIf="pedido.compras">
          <li *ngFor="let compra of pedido.compras"><a [routerLink]="['/producto/detalle', compra.producto.id]">{{ compra.producto.nombre }}</a></li>
        </ul>
      </div>
    </div>
    <div class="pedido-footer">
      <h2 class="pedido-total"><b>Total del pedido: {{ pedido.total | currency : "₡" }}</b></h2>
      <button mat-button aria-label="Detalle pedido" matTooltip="Detalle pedido" (click)="detallePedido(pedido.id)">Ver Detalle
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </div>
  </div>  
</div>
