.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: auto;
  text-align: center;
  background-color: #21252b;
  color: #fff;
}

.container {
  margin: 0 auto;
}

.title-center {
  flex: 1 1 auto;
  text-align: center;
  font-weight: normal;
  padding-top: 20px;
  padding-bottom: 20px;
}

.divider {
  width: 100%;
  border: none;
  border-top: 1px solid #fff;
  margin: 0px;
}

.footer-top {
  font-size: 15px;
  font-weight: normal;
}

.footer-bottom {
  font-size: 15px;
  font-weight: normal;
}
