<div class="grid-container">
  <div class="encabezado">
    <h1>{{ titleForm }} dirección</h1>
  </div>
  <form [formGroup]="direccionForm" (ngSubmit)="isCreate ? crearDireccion() : actualizarDireccion()" novalidate>
    <input type="hidden" formControlName="id" />
    <input type="hidden" formControlName="usuarioId" />
    <mat-card class="direccion-card">
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Provincia</mat-label>
              <mat-select formControlName="provincia" placeholder="Provincia">
                <mat-option *ngFor="let p of provincias" [value]="p.id" (onSelectionChange)="obtenerCantones(p.id)" >{{ p.nombre }}  </mat-option>
              </mat-select>
              <mat-error *ngIf="errorHandling('provincia', 'required')">La provincia es requerida</mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Cantón</mat-label>
              <mat-select formControlName="canton" placeholder="Cantón">
                <mat-option *ngFor="let c of cantones" [value]="c.id" (onSelectionChange)="obtenerDistritos(c.id, c.provinceId)">{{ c.nombre }}</mat-option>
              </mat-select>
              <mat-error *ngIf="errorHandling('canton', 'required')">El cantón es requerido</mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Distrito</mat-label>
              <mat-select formControlName="distrito" placeholder="Distrito">
                <mat-option *ngFor="let d of distritos" [value]="d.nombre">{{ d.nombre }}</mat-option>
              </mat-select>
              <mat-error *ngIf="errorHandling('distrito', 'required')">El distrito es requerido</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput formControlName="direccionExacta" placeholder="Dirección exacta" />
              <mat-error *ngIf="errorHandling('direccionExacta', 'required')">La dirección exacta es requerida</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput formControlName="codigoPostal" placeholder="Código postal" maxlength="5" />
              <mat-error *ngIf="errorHandling('codigoPostal', 'required')">El código postal es requerido</mat-error>
              <mat-error *ngIf="errorHandling('codigoPostal', 'pattern')">El código postal debe contener solo dígitos</mat-error>
              <mat-error *ngIf="errorHandling('codigoPostal', 'incompleteLength')">El código postal debe contener 5 dígitos</mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput formControlName="telefono" placeholder="Teléfono" maxlength="9" />
              <mat-error *ngIf="errorHandling('telefono', 'required')">El teléfono es requerido</mat-error>
              <mat-error *ngIf="errorHandling('telefono', 'pattern')">El teléfono debe contener solo dígitos</mat-error>
              <mat-error *ngIf="errorHandling('telefono', 'incompleteLength')">El teléfono debe contener 8 dígitos</mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button aria-label="Agregar dirección" type="submit">Agregar dirección
          <mat-icon>add</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
