<div class="grid-container">
  <div class="encabezado">
    <h1>{{ titleForm }} dirección</h1>
  </div>
  <form [formGroup]="direccionForm" (ngSubmit)="isCreate ? crearDireccion() : actualizarDireccion()" novalidate>
    <input type="hidden" formControlName="id" />
    <input type="hidden" formControlName="usuarioId" />
    <mat-card class="direccion-card">
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Provincia</mat-label>
              <mat-select formControlName="provincia" placeholder="Provincia">
                <mat-option value="San José">San José</mat-option>
                <mat-option value="Alajuela">Alajuela</mat-option>
                <mat-option value="Cartago">Cartago</mat-option>
                <mat-option value="Heredia">Heredia</mat-option>
                <mat-option value="Guanacaste">Guanacaste</mat-option>
                <mat-option value="Puntarenas ">Puntarenas </mat-option>
                <mat-option value="Limón">Limón</mat-option>
              </mat-select>
              <mat-error *ngIf="errorHandling('provincia', 'required')">La provincia es requerida</mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Cantón</mat-label>
              <mat-select formControlName="canton" placeholder="Cantón">
                <mat-option value="Cantón 1">Cantón 1</mat-option>
                <mat-option value="Cantón 2">Cantón 2</mat-option>
                <mat-option value="Cantón 3">Cantón 3</mat-option>
              </mat-select>
              <mat-error *ngIf="errorHandling('canton', 'required')">El cantón es requerido</mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Distrito</mat-label>
              <mat-select formControlName="distrito" placeholder="Distrito">
                <mat-option value="Distrito 1">Distrito 1</mat-option>
                <mat-option value="Distrito 2">Distrito 2</mat-option>
                <mat-option value="Distrito 3">Distrito 3</mat-option>
              </mat-select>
              <mat-error *ngIf="errorHandling('distrito', 'required')">El distrito es requerido</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput formControlName="direccionExacta" placeholder="Dirección exacta" />
              <mat-error *ngIf="errorHandling('direccionExacta', 'required')">La dirección exacta es requerida</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput formControlName="codigoPostal" placeholder="Código postal" />
              <mat-error *ngIf="errorHandling('codigoPostal', 'required')">El código postal es requerido</mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput formControlName="telefono" placeholder="Teléfono" />
              <mat-error *ngIf="errorHandling('telefono', 'required')">El teléfono es requerido</mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button aria-label="Agregar dirección" type="submit">Agregar dirección
          <mat-icon>add</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
