<mat-toolbar color="primary">
  <mat-toolbar-row class="navbar-top">
    <img src="./assets/images/logo.png" alt="Logo" class="navbar-logo" />
    <span class="navbar-title text-bold">Bordados Shalom</span>
    <span class="navbar-spacer"></span>

    <div>
      <a mat-button aria-label="Inicio" [routerLink]="'/inicio'" [ngClass]="'nav-link'">Inicio</a>
      <a mat-button aria-label="Acerca de" [routerLink]="'/acerca'" [ngClass]="'nav-link'">Acerca de</a>
      <a mat-button aria-label="Contacto" [routerLink]="'/contacto'" [ngClass]="'nav-link'">Contacto</a>
    </div>

    <button mat-icon-button aria-label="Buscar" matTooltip="Buscar">
      <mat-icon class="navbar-icon">search</mat-icon>
    </button>
    <button mat-icon-button aria-label="Cuenta" [matTooltip]="tooltipText" [matMenuTriggerFor]="usuarioMenu">
      <mat-icon class="navbar-icon">account_circle</mat-icon>
    </button>    
    <button mat-icon-button aria-label="Carrito" matTooltip="Carrito">
      <mat-icon class="navbar-icon">local_mall</mat-icon>
    </button>

    <mat-menu #usuarioMenu="matMenu">
      <button mat-menu-item  aria-label="Iniciar sesión" *ngIf="!isAutenticated" (click)="login()">
        <span>Iniciar sesión</span>
      </button>
      <button mat-menu-item aria-label="Perfil" *ngIf="isAutenticated" (click)="perfil(usuarioId)">
        <span>Perfil</span>
      </button>
      <button mat-menu-item aria-label="Cerrar sesión" *ngIf="isAutenticated" (click)="logout()">
        <span>Cerrar sesión</span>
      </button>
    </mat-menu>  
  </mat-toolbar-row>

  <mat-toolbar-row class="navbar-bottom">
    <span class="navbar-spacer"></span>
    <div>
      <a mat-button aria-label="Pedidos" [ngClass]="'nav-link'" (click)="pedidosCliente(usuarioId)">Pedidos cliente</a>
      <a mat-button aria-label="Productos" [routerLink]="'/productos/cliente'" [ngClass]="'nav-link'">Productos cliente</a>
      <a mat-button aria-label="Pedidos" [ngClass]="'nav-link'" (click)="pedidosVendedor(usuarioId)">Pedidos vendedor</a>
      <a mat-button aria-label="Productos" [ngClass]="'nav-link'" (click)="productosVendedor(usuarioId)">Productos vendedor</a>      
      <mat-menu #mantenimientosMenu="matMenu">
        <button mat-menu-item aria-label="Productos" [routerLink]="'/productos/administrador'" [ngClass]="'nav-link'">Productos</button>
        <button mat-menu-item aria-label="Usuarios" [routerLink]="'/usuarios/administrador'" [ngClass]="'nav-link'">Usuarios</button>
      </mat-menu>
      <a mat-button aria-label="Mantenimientos" [matMenuTriggerFor]="mantenimientosMenu">Mantenimientos</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
