<section class="contendor">
  <div class="container">
    <h2>Acerca de</h2>
    <div class="acerca">
      <img
        src="./assets/images/textiles.jpg"
        alt="Acerca de"
        class="about-image"
      />
      <p>
        Desde el 2009, hemos trabajado arduamente para garantizar la
        satisfacción de nuestros clientes, ofreciendo servicios y productos de
        alta calidad con una atención personalizada. Nuestro compromiso con la
        calidad nos ha convertido en la mejor opción para personalizar tus
        productos y adquirir uniformes para tu negocio.
      </p>
    </div>
  </div>
</section>
