.grid-container {
  padding: 20px;
}

.encabezado {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.encabezado h1, .encabezado button {
  margin: 0;
  margin-bottom: 18px;
}
