<div class="grid-container">
  <div class="encabezado">
    <h1>{{ titleForm }} respuesta</h1>
  </div>
  <form [formGroup]="respuestaForm" (ngSubmit)="crearRespuesta()" novalidate >
    <mat-card class="producto-card"> 
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Respuesta</mat-label>
              <input matInput formControlName="descripcion" maxlength="100" placeholder="Respuesta" >
              <mat-hint align="end"> / 100</mat-hint>
              <mat-error *ngIf="errorHandling('descripcion','required')">La respuesta es requerida</mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button type="submit" mat-button aria-label="Agregar respuesta">Agregar respuesta
          <mat-icon>add</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
