<p>usuario-detalle works!</p>

<div class="user-detail">
  <h2>Información Personal</h2>
  <p><strong>Nombre:</strong> {{ usuario.nombre }}</p>
  <p><strong>Correo Electrónico:</strong> {{ usuario.correo }}</p>
  <!-- Otros detalles personales que desees mostrar -->

  <h2>Direcciones</h2>
  <ul>
    <li *ngFor="let direccion of usuario.direcciones">
      {{ direccion.calle }}, {{ direccion.ciudad }}, {{ direccion.pais }}
    </li>
  </ul>

  <h2>Métodos de Pago</h2>
  <ul>
    <li *ngFor="let metodoPago of usuario.metodosPago">
      {{ metodoPago.tipo }} - {{ metodoPago.numero }}
    </li>
  </ul>
</div>
